

.style6140 { 
  background-color: rgb(225, 225, 225);
}

.style218 { 
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 33px;
  font-style: italic;
}

.style4759 { 
  background-image: url("../img/istockphoto-875762470-612x612.jpg");
}

.style8891 { 
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 15px;
}

.style9119 { 
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 14px;
}

.style9239 { 
  font-family: Georgia, serif;
  font-size: 27px;
}

.style2719 { 
}