<style title="local">
#crn-button-108446 { 
  left: 10px;
}
</style><ion-view cache-view="false" hide-back-button="true" class="pane">
  <ion-header-bar class="bar bar-header bar-positive" xattr-theme="bar-positive" data-component="crn-ion-header-bar">
      <div side="left" class="buttons buttons-left header-item">
        <button class="button button-clear" ng-if="!pontuacao.inserting &amp;&amp; !pontuacao.editing" menu-toggle="left" data-component="crn-button" xattr-type="button-clear"> <i class="icon ion-navicon"></i> </button>
        <button class="button button-clear" ng-if="pontuacao.inserting || pontuacao.editing" ng-click="pontuacao.cancel()" data-component="crn-button" xattr-type="button-clear"> <i class="icon ion-ios-arrow-back"></i> </button>
      </div>
        <h1 class="title">pontuacao</h1>
      <div side="right" class="buttons buttons-right header-item">
        
        
      </div>
  </ion-header-bar>
  <ion-content class="scroll-content has-header" data-component="crn-ion-content">
    
	
    <div crn-datasource="pontuacao" class="" ng-hide="pontuacao.editing || pontuacao.inserting">
      
    </div>
    <div ng-show="pontuacao.editing || pontuacao.inserting">
      <form crn-datasource="pontuacao">
        <button class="button component-holder button-light col-xs-12" type="submit" xattr-fullsize="" xattr-theme="button-light" ng-click="" data-component="crn-button" id="crn-button-272850"><i class="dark" xattr-icon-theme="dark"></i> <span>Ùltimos 15 dias</span></button><button class="button component-holder button-light col-xs-12" type="submit" xattr-fullsize="" xattr-theme="button-light" ng-click="" data-component="crn-button" id="crn-button-108446"><i class=""></i> <span>30 dias</span></button><fieldset ng-disabled="!pontuacao.editing &amp;&amp; !pontuacao.inserting">
            <!-- pontos begin -->
            
            <!-- id begin -->
            
            <!-- user begin -->
            
            
            <!-- loja begin -->
            
            

            <!-- NtoN  -->
            <!-- NtoN  end-->

        </fieldset>
      </form>
    </div>
  </ion-content>
</ion-view>
